#!/bin/bash
# Example configuration for running tests
# These variables can be set manually in the environment running the tests, or
# this file can be copied `test.env` making changes as needed.
# Note: it's not necessary to set all values, only set the values which are applicable to the
# desired tests to run.

# Allows use of alternate Astra endpoints
ASTRA_API_URL=
ASTRA_STREAMING_API_URL=

# Used for tests which require an existing database
ASTRA_TEST_DATABASE_ID=aba3cf20-d579-4091-a36d-9c9f75096031
ASTRA_TEST_DATACENTER_ID=aba3cf20-d579-4091-a36d-9c9f75096031-1
ASTRA_TEST_ENDPOINT_ID=vpc-5fbb2e34

# Used for tests which create a new database
ASTRA_TEST_DATABASE_NAME=terraform-testdb

# Used for tests which require an existing streaming tenant
ASTRA_TEST_STREAMING_TENANT=terraform-test-1

# Used for tests which require direct AWS resource access such as private link configuration
ASTRA_TEST_AWS_ACCESS_KEY_ID=1234
ASTRA_TEST_AWS_SECRET_ACCESS_KEY=foobar
